<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="top-views">
  <template>
    <style include="shared-styles">
       :host {
        display: block;

        padding: 10px;
      }
    </style>

    <iron-ajax id="hnAjax" auto url="http://node-hnapi.herokuapp.com/news" handle-as="json" on-response="handleResponse" debounce-duration="300">
    </iron-ajax>


  <paper-input-container always-float-label="true">     
    <label slot="label">Filter Search</label>
    <input is="iron-input" slot="input" value="{{search::input}}">
  </paper-input-container>
    <template is="dom-repeat" items="[[data]]" as="item"  filter="{{computeFilter(search)}}">
      <div class="card">
            <div class="circle">{{item.points}}</div>
            <h1>[[item.title]]</h1>
            <h4><i>[[item.user]]</i> : [[item.time_ago]]</h4>
            <paper-button toggles raised class="indigo" on-tap="_redirectLink" data-value="[[item.url]]" >Read New</paper-button>
      </div>    
     </template> 
  </template>

  <script>
    class TopViews extends Polymer.Element {
      static get is() {
        return 'top-views';
      }

      static get properties() {
        return {
          data: {
            type: Array,
            value: () => []
          }
        }
      }

      //OR 
      /*
      static get config() {
        return {
          properties: {
            data: {
              type: Array,
              value: () => []
            },
            observers: []
          }
        }
      }
      */
      
      //AND OPTIONAL 

      /*
      constructor() {
        //super();
      }
      */

      computeFilter(value) {
        if (!value) {
          return null;
        } else {
          value = value.toLowerCase();
          return function (searchString) {
            var title = searchString.title.toLowerCase();
            //var point = searchString.points;
            return (title.indexOf(value) != -1);
          };
        }
      }

      _redirectLink(e) {
        let url = e.currentTarget.dataValue;
        window.open(url, '_blank');
      }

      handleResponse(data) {
        console.log(data.detail.__data.response);
        this.set('data', data.detail.__data.response);
      }
    }

    window.customElements.define(TopViews.is, TopViews);
  </script>
</dom-module>