

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/nvd3-elements/nvd3-elements.html">
<link rel="import" href="../bower_components/nvd3-elements/nvd3-cumulative-line.html">
<link rel="import" href="shared-styles.html">
<dom-module id="bitcoins-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      
        padding: 10px;
      }


        .card {
          background-color : var(--hn-card-color, white);
        }
    </style>

<iron-ajax
id="bitcoinsApi"
url=[[url]]
handle-as="json"
on-response="handleResponse"
debounce-duration="300">
</iron-ajax>

<paper-input-container always-float-label="true">
    <label slot="label">Start Date</label>
    <input is="iron-input" slot="input"  name="startDate"  type="date" value="{{startDate::input}}">
  </paper-input-container>
  
  <paper-input-container always-float-label="true">
      <label slot="label">End Date</label>
      <input is="iron-input" slot="input"  name="endDate"  type="date" value="{{endDate::input}}">
  </paper-input-container>


  <div class="card">
      <nvd3-cumulative-line
      data="[[data]]"
      height="500"
      auto-resize
      show-legend
      use-interactive-guideline>
    </nvd3-cumulative-line>
  </div>

</template>

  <script>
    class BitCoinsPage extends Polymer.Element {
      constructor() {
        super()
      }
      static get is() { return 'bitcoins-page'; }
      static get properties() {
        return {
          data: {
            type: Array,
            value: () => []
          },
          startDate : {
          type: Date,
          value : ()=> {
            return moment().subtract(3, 'months').format('YYYY-MM-DD');
          }
        },
        endDate : {
          type : Date,
          value : ()=> {
            return moment().format('YYYY-MM-DD');
          }
        },
        url : {
          type : String,
          computed : '_computeDates(startDate , endDate)'
        }
        }
      }
      static get observers(){
        return ['_callServer(url)']
      }
      
      ready(){
        super.ready();
      }


      handleResponse(data){
        console.log('Data From Server:', data.detail.response);
        let graphData = [{
          key: 'Bitcoin',
          values: Object.entries(data.detail.response.bpi).map(function(a){
             return [moment(a[0]) , a[1].toFixed(4)];
           })
          }];

        console.log(data.detail.response.bpi);
        this.set('data', graphData);
      }

      _computeDates(startDate , endDate){
        let url = `https://api.coindesk.com/v1/bpi/historical/close.json?start=${startDate}&end=${endDate}`;
        return url
      }

      _callServer(){
        this.$.bitcoinsApi.generateRequest();
      }
    }

    window.customElements.define(BitCoinsPage.is, BitCoinsPage);
  </script>
</dom-module>
