

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-input/iron-input.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">


<link rel="import" href="shared-styles.html">

<dom-module id="hn-page">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
    </style>

<iron-ajax
id="hnapi"
url="http://node-hnapi.herokuapp.com/news"
handle-as="json"
on-response="handleResponse"
debounce-duration="300">
</iron-ajax>

<paper-input-container always-float-label="true">     
    <label slot="label">Filter Search</label>
    <input is="iron-input" slot="input" value="{{search::input}}">
</paper-input-container>

[[search]]


<template is="dom-repeat" items="[[data]]" as="item" filter="[[computeFilter(search)]]">  
  <div class="card">
      <o-content-placeholder-img size="55" animate="true" format="square"></o-content-placeholder-img>
      <o-content-placeholder-block rounded="true" line-height="15" margin="6" animate="true" lines="3"></o-content-placeholder-block>
      <o-content-placeholder-img size="55" animate="false" format="circle"></o-content-placeholder-img>
    <div class="circle">[[item.points]]</div>
    <h1>[[item.title]]</h1>
    <h4><i>[[item.user]]</i> : [[item.time_ago]]</h4>
    <paper-button 
    on-tap="_redirectLink"
    data-value="[[item.url]]" 
    >Read!!!
  </paper-button>
  </div>   
</template> 




</template>

  <script>
    class HNpage extends Polymer.Element {
      constructor() {
        super()
      }
      static get is() { return 'hn-page'; }
      static get properties() {
        return {
          data: {
            type: Array,
            value: () => []
          }
        }
      }
      static get observers(){}
      
      ready(){
        super.ready();
        this.$.hnapi.generateRequest()
      }


      handleResponse(data){
        console.log('Data From Server:', data.detail.response);
        this.set('data', data.detail.response);
      }

      _redirectLink(event){
        console.log(arguments);
        let url = event.currentTarget.dataValue;
        window.open(url, '_blank');
      }

      computeFilter(value) {
        if (!value) {
          return null;
        } else {
          value = value.toLowerCase();
          return function (searchString) {
            var title = searchString.title.toLowerCase();
            return (title.indexOf(value) != -1);
          };
        }
      }


    }

    window.customElements.define(HNpage.is, HNpage);
  </script>
</dom-module>
